*{
    margin: 0 auto;
    font-family: sans-serif;
}
body{
    background-color: #181818;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
